<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application>
        <service
            android:name="dev.aurora.tauri.nativeplugin.AuroraVoiceInteractionService"
            android:enabled="true"
            android:exported="true"
            android:label="Aurora"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/aurora_voice_interaction_service" />
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>

        <service
            android:name="dev.aurora.tauri.nativeplugin.AuroraVoiceInteractionSessionService"
            android:enabled="true"
            android:exported="true"
            android:label="Aurora"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />

        <activity
            android:name="dev.aurora.tauri.nativeplugin.AuroraAssistActivity"
            android:enabled="true"
            android:exported="true"
            android:label="Aurora">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
